<!-- header用のdiv -->
<div class="header">
<%= image_tag 'jpg2.jpg',size:'50x50' %>
</div>
<div class="container-fluid">
<div class="col-sm-4 sidenav">
<h4>ジャンル検索</h4>
	<% @product_categories.each do |category| %>
	<%= link_to public_product_category_path(category.id) do %>
	<%= category.product_category_name %>
		<% end %>
		<% end %>
</div>
