// Place all the styles related to the public/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



strong {
	font-size: 5rem;
	color: #6e5064;

}
//ここまで//

//商品画像の余白//
.item2 {
	margin: 10px;
	padding: 10px;
}


//hederのフォントカラー指定//
.main-nav a {
	color: #6e5064;
}
//ここまで//



