 <head>
  <title>Nagano-Cake</title>
 </head>
<h1>Nagano Cake</h1>

<%= link_to "login", new_end_user_session_path  %>

<%= link_to "logout", destroy_end_user_session_path, method: :delete %>

<%= link_to "sign up",  new_end_user_registration_path %>










<h5>thank you visiting!!</h5>