<<<<<<< HEAD
<%= render 'public/homes/header' %>




=======
>>>>>>> master
<h1>注文履歴詳細</h1>

<h3>注文情報</h3>
<table>
	<tr>
		<th>注文日</th>
			<td><%= @order_items.created_at %></td>
	</tr>
	<tr>
		<th>配送先</th>
		<td>〒</td>
	</tr>
	<tr>
		<th>支払い方法</th>
		<td><%= @order_items.order.payment %></td>
	</tr>
	<tr>
		<th>ステータス</th>
		<td></td>
	</tr>
</table>