<h1>会員一覧画面</h1>

<table>
	<thead>
		<tr>
			<th>商品ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<% @end_user.each do |end_user| %>
	<tbody>
		<tr>
			<td><%= end_user.id %></td>
			<!-- フルネームを選択できるようにしたい -->
			<td><%= link_to end_user.name1, admin_end_user_path(end_user.id) %></td>
			<!-- 会員ステータスの表示 -->
			<td><%= end_user.email %></td>
			<% case end_user.deleted? when false %>
			<td>有効</td>
			<% when true %>
			<td>退会済</td>
			<% end %>
	　　　</tr>
	</tbody>
	<% end %>
</table>




