<h4>----- header部分 -----</h4>
<ul>
	<li><%= link_to "商品一覧", admin_products_path %></li>
	<li><%= link_to "会員一覧", admin_end_users_path %></li>
	<li><%= link_to "注文履歴一覧", admin_order_items_index_path %></li>
	<li><%= link_to "ジャンル管理", admin_product_categories_path %></li>
</ul>
-------------------------