<h1>注文情報確認ページ</h1>

<h3>購入情報入力</h3>
<h3>支払い方法</h3>
<h3>クレジットカード</h3>
<h3>銀行振込</h3>

<h3>お届け先</h3>
<h3>ご自身の住所</h3>










<%= form_for(@order) do |f| %>
		<div class="field">
		<%= f.label :お支払い方法 %>
		<%= f.select(:pay_type, [['選択して下さい', ''],['クレジットカード', '銀行振込']]) %>
		</div>
 <div class="actions">
  <%= f.submit '注文を確定する' %>
<% end %>